.elementWrapper
  font: 1.4em 'HighWave'
  color: var(--color-green)
  padding: 40px
  overflow: hidden
  height: 100%
  //animation: scroll 5s infinite

  @mixin fixed
    pointer-events: none
    content: ''
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0

  .content
    animation: scroll 5s 1
    overflow: hidden
    //height: 1%
    //height: 10%
    //animation: scroll 5s 1

  &:before
    @include fixed
    background: linear-gradient(#10101087 30%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 158, 158, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03))
    background-size: 100% 3px, 6px 100%

  &:after
    @include fixed
    animation: flicker 0.3s infinite
    background: rgba(16, 16, 16, 0.2)

@keyframes flicker
  0%
    opacity: 0.15795
  50%
    opacity: 0.3823
  100%
    opacity: 0.54813

@keyframes scroll
  0%
    height: 0
  100%
    height: 100%
    //background-color: white

